<div th:fragment="signUp" class="container mt-5 mb-5">
    <h1>Регистрация</h1>
    <form action="/signUp" method="post" enctype="multipart/form-data">
        <input type="text" name="login" placeholder="Введите логин" class="form-control"><br>
        <input type="text" name="password" placeholder="Введите пароль" class="form-control"><br>
        <input type="text" name="role" placeholder="Введите пароль" class="form-control"><br>
        <button type="submit" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">Регистрация</button>
    </form>
</div>